body {
    font-family: Poppins, sans-serif;
}

.btn-purple {
    background: #926FB1;
    color: white;
}

#main-nav,
#about,
footer {
    background: #333645;
    color: white;
} 

#hero {
    background: #e4b786;
}

#newsletter {
    background: #DDD;
}

#main-nav a {
    color: white;
}

