/* Navigation dots for the Banner Slider */
.tns-outer {
    position: relative;
}

.tns-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tns-nav button {
    height: 11px;
    width: 11px;
    border: none;
    margin: 0 10px;
    border-radius: 50%;
    /* background-color: hsla(0, 0%, 100%, 0.5); */
    background: #d6d6d6;
}

.tns-nav button:hover {
    background-color: #869791;
}

.tns-nav .tns-nav-active,
.tns-nav .tns-nav-active:focus {
    background-color: #fff;
    outline-style: solid;
    outline-color: #fff;
    outline-width: 2px;
    outline-offset: 5px;
}

/* Slide Formatting */
.my-slider > div {
    height: calc(100vh - 166px);
    min-height: 531px;
    color: #fff;
    border-top: 1px solid white;
    background-color: purple;
}
.my-slider > div h1 {
    font-size: 48px;
}
.my-slider > div .lead {
    text-align: center;
    line-height: 36px;
    margin-bottom: 35px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .my-slider > div {
        height: calc(100vh - 104px);
        background-color: red;
    }
}

@media screen and (min-width: 992px) {
    .my-slider > div {
        height: calc(100vh - 224px);
        background-color: cornflowerblue;
    }
    .my-slider > div .lead {
        text-align: left;
    }
}