/* ************* */
/* Sticky Header */
/* ************* */

#header {
    position: sticky;
    top: 0;
    z-index: 2;
    transition: transform 0.5s;
}

.header-bar {
    background-color: white;
}

.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

/* ****** */
/* pop-up */
/* ****** */
#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#modal.active {
    display: flex;
}
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 9px rgb(0, 0, 0 / 50%);
    border-radius: 5px;
    background-clip: padding-box;
    outline: none;
}
.modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 1.625rem;
}
.modal-body {
    padding: 20px;
}
.modal-body p {
    line-height: 1.875rem;
    margin: 0 0 10px;
    color: #666;
}
.modal-body a {
    color: #333645;
}
.modal-body a:hover {
    text-decoration: underline;
}
.modal-footer {
    margin: 0;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn {
    display: block;
}
/* Media Queries */
@media screen and (max-width: 767px) {
    .spacer {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    .modal-content {
        width: 600px;
    }
}

/* ******* */
/* Overlay */
/* ******* */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    margin: 0;
    transition: opacity 1s, margin 0.5s;
    cursor: pointer;
}


/* *********** */
/* Mobile Menu */
/* *********** */

/* Mobile Navigation Section */
.mobile-menu {
    transition: width 0.5s;
}
.mobile-menu > ul > li > ul > li > a:before {
    content: "\00bb";
    padding-right: 20px;
}
.menu-active {
    width: 275px;
}

/* Mobile Navigation Main Nav Subsection */
/* this could use some tidying up */
.main-nav-mobile {
    padding: 21px;
}
.main-nav-mobile ul {
    margin: -20px 0 0;
}
.main-nav-mobile > ul > li {
    padding: 20px 0 0;
}
.main-nav-mobile ul li a {
    font-size: 1.125rem;
    padding: 19px 0 18px;
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    display: block;
    text-align: center;
}
.main-nav-mobile ul li ul {
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.main-nav-mobile ul li ul a {
    padding: 10px;
}

/* Main Page Content Section */
#mainContent {
    transition: all 0.5s;
}
.inactive {
    margin-right: 275px;
    margin-left: -275px;
    overflow-y: scroll;
}

@media screen and (min-width: 992px) {
    .main-nav-mobile {
        display: none;
    }
    .menu-active {
        width: 350px;
    }
    .inactive {
        margin-right: 350px;
        margin-left: -350px;
    }
}


