@import "theme.default";

.owl-carousel .owl-item img {
    width: auto;
    height: calc(100vh - 166px);
    min-height: 533px;
    @media screen and (min-width: 576px) {
        height: calc(100vh - 180px);
        min-height: 519px;
    }
    @media screen and (min-width: 768px) {
        height: calc(100vh - 104px);
        min-height: 595px;
    }
    @media screen and (min-width: 992px) {
        height: calc(100vh - 224.14px);
        min-height: 474.86px;
    }
}



.owl-theme .owl-dots {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    margin-bottom: 15px;
    .owl-dot:hover {
        span {
            background-color: $color-base;
        }
    }
    .owl-dot.active span,
    .owl-dot.active:hover span {
        background-color: #fff;
        outline-style: solid;
        outline-color: #fff;
        outline-width: 2px;
        outline-offset: 5px;
    }
}


