@import "partials/owlcarousel/theme.default";

.owl-theme .owl-dots {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15px;
    margin-bottom: 15px;
    .owl-dot:hover {
        span {
            background-color: $color-base;
        }
    }
    .owl-dot.active span,
    .owl-dot.active:hover span {
        background-color: #fff;
        outline-style: solid;
        outline-color: #fff;
        outline-width: 2px;
        outline-offset: 5px;
    }
}