#banner-slider {
    border-top: 1px solid rgba(51, 54, 69, 0.5);
}

// Slider Formatting
.my-slider > div {
    height: calc(100vh - 168px);
    min-height: 531px;
    color: #fff;
    text-align: center;
    h1 {
        font-size: 48px;
    }
    .lead {
        line-height: 36px;
        margin-bottom: 35px;
    }
}

// Setting up the slides
@each $name, $colour in ($service-colours) {
    #slide-#{$name} {
        position: relative;
        @include picfix('../../img/carousel/#{$name}.jpeg');
        background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/#{$name}.jpeg');
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Navigation dots for the Banner Slider
.tns-outer {
    position: relative;
}

.tns-nav {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    button {
        height: 11px;
        width: 11px;
        border: none;
        margin: 0 10px;
        border-radius: 50%;
        background: #d6d6d6;
        &:hover {
            background-color: #869791;
        }
    }
}

.tns-nav .tns-nav-active,
.tns-nav .tns-nav-active:focus {
    background-color: #fff;
    outline-style: solid;
    outline-color: #fff;
    outline-width: 2px;
    outline-offset: 5px;
}

// Media Queries
@media screen and (min-width: 768px) {
    .my-slider > div {
        height: calc(100vh - 110px);
        min-height: 589px;
    }
}

@media screen and (min-width: 992px) {
    .my-slider > div {
        height: calc(100vh - 209.02px);
        min-height: 489.98px;
    }
    .my-slider > div .lead {
        text-align: left;
    }
}