/* Navigation dots for the Banner Slider */
.tns-outer {
    position: relative;
}

.tns-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    button {
        height: 11px;
        width: 11px;
        border: none;
        margin: 0 10px;
        border-radius: 50%;
        background: #d6d6d6;
        &:hover {
            background-color: #869791;
        }
    }
}

.tns-nav .tns-nav-active,
.tns-nav .tns-nav-active:focus {
    background-color: #fff;
    outline-style: solid;
    outline-color: #fff;
    outline-width: 2px;
    outline-offset: 5px;
}

/* Slide Formatting */
.my-slider > div {
    height: calc(100vh - 168px);
    min-height: 531px;
    color: #fff;
    border-top: 1px solid white;
    text-align: center;
    h1 {
        font-size: 48px;
    }
    .lead {
        line-height: 36px;
        margin-bottom: 35px;
    }
}

/* Slide Images */
// #slide-design {
//     @include picfix('../../img/carousel/web-design.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/web-design.jpeg');
// }
// #slide-support {
//     @include picfix('../../img/carousel/it-support.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/it-support.jpeg');

// }
// #slide-telecoms {
//     @include picfix('../../img/carousel/telecoms-services.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/telecoms-services.jpeg');
// }
// #slide-software {
//     @include picfix('../../img/carousel/bespoke-software.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/bespoke-software.jpeg');
// }
// #slide-marketing {
//     @include picfix('../../img/carousel/digital-marketing.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/digital-marketing.jpeg');
// }
// #slide-security {
//     @include picfix('../../img/carousel/cyber-security.jpeg');
//     background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/cyber-security.jpeg');
// }

@each $name, $colour in ($service-colours) {
    #slide-#{$name} {
        position: relative;
        @include picfix('../../img/carousel/#{$name}.jpeg');
        background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/#{$name}.jpeg');
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .my-slider > div {
        height: calc(100vh - 110px);
        min-height: 589px;
    }
}

@media screen and (min-width: 992px) {
    .my-slider > div {
        height: calc(100vh - 209.02px);
        min-height: 489.98px;
    }
    .my-slider > div .lead {
        text-align: left;
    }
}