body {
    color: $altDark;
}

h1 {
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: 28px;
}
   
h2 {
    font-size: 1.25rem;
    padding-bottom: 17px;
}

h1,
h4 {
    text-transform: uppercase;
}  

footer {
    background: $altDark;
    color: white;
} 

small {
    font-size: 10px;
  }
  