.btn {
    line-height: 35px;
    transition-duration: 0s;
    @include button-size(5px, 15px, 1.063rem, 3px);
}

.btn:focus {
    box-shadow: none;
}

.btn-top {
    height: 56px;
    min-width:62px;
    line-height: 46px;
    margin-left: 20px;
    @include button-size(5px, 15px, 1.125rem, 3px);
    &:hover {
        color: white;
    }
    &:focus {
        color: white;
    }
}

.btn-inner {
    min-width: 116px;
}

.btn-hero {
    line-height: 50px;
    @include button-size(5px, 20px, 1.25rem, 3px)
}

.title {
    display: block;
    padding-top: 5px;
}