main a:hover {
    text-decoration: underline;
}

#breadcrumb {
    display: none;
    border-top: 1px solid $altDark;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    box-shadow: 0 5px 35px rgba(0,0,0,0.1);
    @media screen and (min-width: 768px) {
        display: block;
    }
}

#page-title {
    background-color: $altDark;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 30px;
    h1 {
        margin: 0;
    }
    @media screen and (min-width: 992px) {
        background-color: transparent;
        color: $altDark;
        margin: 0;
    }
}

.office-card {
    color: $addr;
    .card-title {
        color: $altDark;
        font-size: 18px;
        &:hover {
            color: #121419;
        }
    }
    .btn {
        font-size: 14px;
        padding: 5px 30px;
    }
}

#contact-details {
    color: $addr;
}

.contact-area {
    flex-direction: row-reverse;
}

#out-of-hours {
    display: none;
}

#contact-form {
    background: #e6e7e9;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    a {
        text-decoration: underline;
        &:hover {
            color: #121419;
        }
    }
}
textarea#contactMessage {
    min-height: 100px;
}

.emphasis {
    font-size: 26px;
    font-weight: 600;
    color: $design;
}

.tel {
    font-weight: 700;
    margin-bottom: 15px;
}