.btn {
  text-transform: uppercase;
  color: white;
  &-light {
    color: $altDark;
  }
}

.telephone {
  font-size: 32px;
  margin-left: 20px;
  align-self: center;
  a:hover {
    color: inherit;
    border-bottom: solid 3px $altDark;
  }
}
 #search-box {
  margin-left: 20px;
 }

.hamburger {
  font-size: 12px;
  line-height: 12px;
}

.mobile-search {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 15px;
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  color: #555;
  background: rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  margin-top: 15px;
}

.search-button i {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.card hr {
  margin: 0 30px;
}
.card-body {
  padding: 30px;
}

.card-text {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

.card-footer {
  background-color: inherit;
  border-top: none;
  padding: 30px 30px 0;
}

.author {
  margin-left: 35px;
  padding-left: 35px;
}

.avatar {
  border-radius: 50%;
}

legend {
  font-size: 32px;
}

label {
  font-weight: 600;
}

.form-check-label {
  line-height: 32px;
  margin-left: 18px;
}

.asterisk {
  color: #d24d57;
}

