// setting up the service cards
@each $name, $colour in ($service-colours) {
  .#{$name} {
    i {
      @include circle-icon(60px);
      background-color: $colour;
      margin-bottom: 17px;
      font-size: 23px;
      line-height: 60px;
    }
    &:hover {
      color: white;
      background-color: $colour;
      i, .btn {
        color: $colour;
        background-color: white;
      }
    }
  }
}


// setting up the news cards, 
// I might come back to this for setting up their button behaviour

@each $name, $colour in ($service-colours) {
  .news-#{$name} h3 a {
    color: $colour;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
}


// setting up the colours for the social media icons
// I might look for some icons that more closly match the ones on the orinal site
// then I can reuse the circle-icon mixin
@each $name, $colour in ($socials-colours) {
  .bi-#{$name} {
    &:hover {
      color: $colour;
    }
  }
}
