
@media screen and (min-width: 576px) {
    #hero {
        height: calc(100vh - 180px);
    }
}
  
@media screen and (min-width: 768px) {
    #hero {
        height: calc(100vh - 110px);
    }
}
  
@media screen and (min-width: 992px) {
    #hero {
        height: calc(100vh - 224px);
        .lead {
            text-align: left;
        }
    }
    #about {
        @include picfix('../img/net-back.png');
    }
}

@media screen and (min-width: 1260px) {
    .drop-menu {
        width: 1200px;
        font-size: 16px;
    }
    
    .back-bar {
        margin-left: calc(-100vw / 2 + 1200px / 2);
    }

    @each $name, $colour in $service-colours {
        .#{$name}-menu,
        .#{$name}-bar {
            left: -198px * (index(($service-colours), ($name $colour)) - 1);
        }
    }
}