
@mixin circle-icon($dim) {
    color: white;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    width: $dim;
    height: $dim;

}  

@mixin picfix($yourl) {
    background: {
        image: url($yourl);
        position: center;
        repeat: no-repeat;
          size: cover;
    }
}

@mixin colouriser($map) {
    @each $section, $colour in $map {
        &-#{$name} {
            color: $colour;
        }
    }
}