// Transitions & transforms

// client & award/accreditation sections
.colour-change {
  position: relative;
}

.greyscale {
  position: absolute;
  right: 0;
  opacity: 1;
}

.greyscale:hover {
  opacity: 0;
}

// news card images
.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  &:hover {
    .card-img-top {
      opacity: 0.7;
      transform: scale(1.1);
      transition: all 0.25s;
    }
  }
}

// a rough attempt to mimic the checkbox from the example site
input[type=checkbox] {
  border-color: $altDark;
  transform: scale(2);
}

.form-check-input:checked {
  background-color: $altDark;
  border-color: $altDark;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: $altDark;
}