// Transitions & transforms
.colour-change {
  position: relative;
}

.greyscale {
  position: absolute;
  right: 0;
  opacity: 1;
}

.greyscale:hover {
  opacity: 0;
}

.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-img-top:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: all 0.25s;
}
