.top {
  display: flex;
}

.net-logo {
  margin-right: auto;
}

.top-buttons {
  display: flex;
  align-items: center;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0;
}

#hero {
  height: calc(100vh - 166px);
  min-height: 531px;
  @include picfix('../../img/carousel/web-design.jpeg');
  border-top: 1px solid white;
  background-image: linear-gradient(270deg,transparent 25%,#000), url('../../img/carousel/web-design.jpeg');
  h1 {
    font-size: 48px;
  }
  .lead {
    text-align: center;
    line-height: 36px;
    margin-bottom: 35px;
  }
}

#about {
  color: white;
  background: $altDark;
}

#headline {
  display: block;
  padding: 40px 0;
  span {
    border-bottom: $altDark solid 5px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 37px;
    text-transform: uppercase;
  }
}

.client-imgs {
  padding-top: 42px;
  padding-bottom: 42px;
}

#newsletter {
  background: $newsletter;
  a {
    text-decoration: underline;
    &:hover {
      color: #121419;
    }
  }
}

footer {
  background: $altDark;
  color: white;
  font-size: 13px;
  line-height: 22px;
  padding: 47px 0 43px;
  a:hover {
    color: white;
    text-decoration: underline;
  }
} 

.feet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.foot-navs,
.offices {
  display: flex;
  flex-grow: 1;
  flex-wrap:wrap;
  justify-content: space-evenly;
  
}

.foot-nav, 
.office {
  width: 225px;
  margin-bottom: 30px;
}

.foot-rule {
  margin-bottom: 14px;
}

.outro {
  display: flex;
}

.socials {
  display: flex;
  margin-left: auto;
  margin-top: -7px;
  font-size: 0.9rem;
  i {
    @include circle-icon(38px);
    padding-top: 12px;
}
}